{{#> DataLayout}}
  <div class='user-data__img'>
    {{{Input
      name='avatar'
      type='file'
      value=value
      ref='file-input'
      placeholder=''
      classes=''
      id='user-image-input'
      onChange=updateAvatar
    }}}
    {{#if user.avatar}}
      <img src={{getImgURL user.avatar}} class="user-image" alt='user-image' />
    {{else}}
      <div class='user-image__empty'>
        <img src='./svg/user-icon.svg' alt='user-empty-image' />
      </div>
    {{/if}}
    <label for='user-image-input'><img
        class='user-image__change'
        src='./svg/pen-icon.svg'
        alt='change-image'
      /></label>
  </div>
  <div class='user-data__form'>
    <form action=''>
      {{{InputField
        ref='first_name'
        value=user.first_name
        type='text'
        label='Name'
        name='first_name'
        validate=validate.first_name
      }}}
      {{{InputField
        ref='second_name'
        value=user.second_name
        type='text'
        label='Surname'
        name='second_name'
        validate=validate.second_name
      }}}
      {{{InputField
        ref='phone'
        value=user.phone
        type='text'
        label='Phone'
        name='phone'
        validate=validate.phone
      }}}
      {{{InputField
        ref='email'
        value=user.email
        type='text'
        label='Email'
        name='email'
        validate=validate.email
      }}}
      {{{InputField
        ref='login'
        value=user.login
        type='text'
        label='Login'
        name='login'
        validate=validate.login
      }}}
      {{{InputField
        ref='display_name'
        value=user.display_name
        type='text'
        label='Display Name'
        name='display_name'
        validate=validate.display_name
      }}}
      <div class="form-error">
        {{{ErrorLine error_message=error_message ref='errorLine'}}}
      </div>
      {{{Button label='Save' classes='button button__green' onClick=onSave }}}
    </form>
  </div>
  <div class='settings'>
    {{{Button label='Change password' classes='settings-change-password' onClick=toPasswordChange }}}
    {{{Button label='Logout' classes='settings-logout' onClick=logout }}}
  </div>
{{/DataLayout}}
