{{#> DataLayout}}
  <div class='user-data__img'>
    {{{Input
      name='avatar'
      type='file'
      value=value
      ref='file-input'
      placeholder=''
      classes=''
      id='user-image-input'
      onChange=updateAvatar
    }}}
    {{#if user.avatar}}
      <img src={{getImgURL user.avatar}} class="user-image" alt='user-image' />
    {{else}}
      <div class='user-image__empty'>
        <img src='./svg/user-icon.svg' alt='user-empty-image' />
      </div>
    {{/if}}
    <label for='user-image-input'><img
        class='user-image__change'
        src='./svg/pen-icon.svg'
        alt='change-image'
      /></label>
  </div>
  <div class="form-error">
    {{{ErrorLine error_message=error_message ref='errorLine'}}}
  </div>
  <div class='user-data__form'>
    {{{UserDataForm user=user}}}
  </div>
  <div class='settings'>
    {{{Button label='Change password' classes='settings-change-password' onClick=toPasswordChange }}}
    {{{Button label='Logout' classes='settings-logout' onClick=logout }}}
  </div>
{{/DataLayout}}
